<doctype! html>
<html>
<head>
	<script src="./bower_components/angular/angular.min.js"></script>
	<!--<script src="data.js"></script> -->
	<script src="app.js"></script>
</head>
<body>
    <div ng-app="yogauto" ng-controller="poseCtrl">
        <input type='number' name='number' ng-model='number'>
        <button type="button" ng-click="randomPoses(number)">
            Random Poses
        </button>
        <table>
        <tr ng-repeat='pose in randomPosesList'>
        		<td>{{pose.english}}</td><td> {{pose.sanskrit}}</td>
        		<!-- <td>{{pose.english}}</td><td> {{pose.sanskrit}}</td><td> <img src={{pose.picture}}></td> -->
        	</tr>
        </table>
    </div>
</body>
</html>