<doctype! html>
<html>
<head>
	<script src="./bower_components/angular/angular.js"></script>
	<script src="./bower_components/jquery/dist/jquery.min.js"></script>
	<script src="./bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
	<link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
	<script src="app.js"></script>
</head>
<body>
	<!-- <div ng-app="yogiauto" ng-controller="poseCtrl"> -->
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">YogiAuto</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
	        <li><a href="#">My Practice</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<!-- <div ui-view></div> -->
	<script src="Random/random.js"></script>
    <script src="Services/services.js"></script>
    <script src="app.js"></script>
	  <!--   USE!!!!! -->
	    <div ng-app="yogiauto" ng-controller="poseCtrl">
	    	<div class='row'>
		    	<h4 class="text-center" ng-show="undecided"> How many poses would you like to practice? </h4>
		        <input class='col-md-offset-4' type='number' name='number' ng-model='number'>
		        <button type="button" ng-click="randomPoses(number)">
		            Random Poses
		        </button>
		        <button type="button" ng-click="practicePoses()" ng-show='!practicing'>
		            Start Practice
		        </button>
		        <button type="button" ng-click="pausePoses()" ng-show='!paused'>
		            Pause Practice
		        </button>
		        <button type="button" ng-click="nextPose()" ng-show="nextable">
		            Skip Pose
		        </button>
	    	</div>
	    	<!-- <div class='row'>
	    		Search: <input ng-model="poseType">
	    		<table id="searchUrls" class="table table-striped table-bordered">
	    		    <thead>
	    		        <tr><th>English Name</th><th>Sanskrit Name</th></tr>
	    		    </thead>
	    		    <tbody>
	    		        <tr ng-repeat="pose in poses | filter:poseType">
	    		        <td ng-mouseover="showPicture($index)">{{ pose.english }}</td>
	    		        <td ng-mouseover="showPicture($index)">
	    		          {{ pose.sanskrit}}
	    		       </td>
	    		        </tr>
	    		    </tbody>
	    		</table>
	    	</div> -->

	    	<!-- <div class='media' ng-show="started">

	    		<div class="media-body">
	    		<div class="media-left">
	    		    <table class='table'>
	    		        <thead ng-show="listed"><tr><th class='text-center'>English Name</th><th class='text-center'>Sanskrit Name</th></thead>
	    		        <tbody>
	    		    	    <tr ng-repeat='pose in randomPosesList'>
	    		    	        <td class='text-center' ng-click="removePose($index)" ng-mouseover="showPicture($index)">{{pose.english}}</td>
	    		    	        <td class='text-center' ng-click="removePose($index)" ng-mouseover="showPicture($index)">{{pose.sanskrit}}</td>
	    		    	    </tr>
	    		    	</tbody>
	    		    </table>
	    		</div>
	    		<div class="media-left media-middle">
	    		<div class="media-body">
	    		    <div class='row' ng-show="started">
	    		    	<h4 class="media-heading"><u>English Name</u></h4>
	    		    	<h4><u>Sanskrit Name</u></h4>
	    		    </div>
	    		    <div class='row' ng-show="started">
	    		    	<div>{{current.english}}</div>
	    		    	<div>{{current.sanskrit}}</div>
	    		    </div>
	    		        <div class='row' ng-show="started">
	    		        	<img src={{current.picture}}>
	    		    		<div>{{current.description}} </div>
	    		    	</div>
	    		</div>
	    	</div> -->


<!-- USE -->
	        <div class='row' ng-show="started">
	        	<h4 class="col-md-2 col-md-offset-4 text-center"><u>English Name</u></h4>
	        	<h4 class="col-md-2 text-center"><u>Sanskrit Name</u></h4>
	        </div>
	        <div class='row' ng-show="started">
	        	<div class="col-md-2 col-md-offset-4 text-center">{{current.english}}</div>
	        	<div class="col-md-2 text-center">{{current.sanskrit}}</div>
	        </div>
	        
	        <div class='row' ng-show="started">
	        	<h4 ng-show="listed" class='text-center col-md-4'>English Name</h4>
	        	<h4 ng-show="listed" class='text-center col-md-offset-4 col-md-4'>Sanskrit Name</h4>
	        </div>
	        <!-- <div class='row' ng-show="started"> -->
    		    <ul class="col-md-4 list-group">
    		        <li ng-repeat='pose in randomPosesList' ng-show="listed" class='list-group-item text-center' ng-mouseover="showPicture($index)">
    		        	<div class='row'>
    		        	 <!-- <span class="glyphicon glyphicon-star-empty col-lg-1" aria-hidden="true"></span> -->
    		        	 <span class="text-center col-lg-2">{{pose.english}}</span>
    		        	 <span class="glyphicon glyphicon-remove col-lg-1" aria-hidden="true" ng-click="removePose($index)"></span>
    		        	</div>
    		        </li>
	        	</ul>
	        	
	        	<img class="col-md-4 text-center" src={{current.picture}}>

    		    <ul  class="col-md-4 list-group">
	        		<li ng-repeat='pose in randomPosesList' ng-show="listed" class='list-group-item text-center' ng-mouseover="showPicture($index)">
	        			<!-- <span class="glyphicon glyphicon-star-empty col-lg-1" aria-hidden="true"></span> -->
	        			<span class='text-center col-lg-2'>{{pose.sanskrit}}</span>
	        			<span class="glyphicon glyphicon-remove col-lg-1" aria-hidden="true" ng-click="removePose($index)"></span>

	        		</li>
	        	</ul>
	        <!-- 	<div>{{current.description}} </div> -->
	        <!-- </div> -->
	       <!--  <table class='table table-striped table-bordered col-xs-4'>
	        	    <thead ng-show="listed"><tr><th class='text-center'>English Name (click to view)</th><th class='text-center'>Sanskrit Name (click to remove)</th></thead>
	        	    <tbody>
	        		    <tr ng-repeat='pose in randomPosesList'>
	        		        <td class='text-center' ng-click="showPicture($index)">{{pose.english}}</td>
    		        		<td class='text-center' ng-click="removePose($index)">{{pose.sanskrit}}</td>
    		        	</tr>
	        		</tbody>
	        	</table> -->

	        

	    <!-- </div> -->
	</div>
</body>
</html>