	    <!-- <div ng-app="yogauto" ng-controller="poseCtrl"> -->
	    	<div class='row'>
		    	<h4 class="text-center" ng-show="undecided"> How many poses would you like to practice? </h4>
		        <input class='col-md-offset-4' type='number' name='number' ng-model='number'>
		        <button type="button" ng-click="randomPoses(number)">
		            Random Poses
		        </button>
		        <button type="button" ng-click="practicePoses()" ng-show='!practicing'>
		            Start Practice
		        </button>
		        <button type="button" ng-click="pausePoses()" ng-show='!paused'>
		            Pause Practice
		        </button>
		        <button type="button" ng-click="nextPose()" ng-show="nextable">
		            Skip Pose
		        </button>
	    	</div>

	        <div class='row' ng-show="started">
	        	<h4 class="col-md-2 col-md-offset-4 text-center"><u>English Name</u></h4>
	        	<h4 class="col-md-2 text-center"><u>Sanskrit Name</u></h4>
	        </div>
	        <div class='row' ng-show="started">
	        	<div class="col-md-2 col-md-offset-4 text-center">{{current.english}}</div>
	        	<div class="col-md-2 text-center">{{current.sanskrit}}</div>
	        </div>
	        <div class='row' ng-show="started">
	        	<img class="col-md-4 col-md-offset-4 text-center"src={{current.picture}}>
	        	<div>{{current.description}} </div>
	        </div>

	        <table class='table'>
	        	<thead ng-show="listed"><tr><th class='text-center'>English Name</th><th class='text-center'>Sanskrit Name</th></thead>
	        	<tbody>
		        	<tr ng-repeat='pose in randomPosesList'>
		        		<td class='text-center' ng-click="removePose($index)" ng-mouseover="showPicture($index)">{{pose.english}}</td>
		        		<td class='text-center' ng-click="removePose($index)" ng-mouseover="showPicture($index)">{{pose.sanskrit}}</td>
		        	</tr>
		        </tbody>
	        </table>